body{background-color: #7F7F7F!important}

#lw_fe_inputelement_lw_formular_template{width: 800px;height: 600px;}
#tabs ul li a{color: #fff;}

.activeline {background: #e8f2ff !important;}

.active{background-color: #777;}

.description {
    margin-bottom:60px;
    border:1px solid #aaa;
    border-radius: 5px;
    background-color:#eee;
    padding:10px;
}

legend.lwadminform {
    height: 20px;
    margin-bottom: 2px;
    line-height: 20px;
    width: 260px;
}
html body div#lwContent div {
    font-size: 12px!important;
}

fieldset.lwadminform {
    position: relative;
}


html body div#lwLeftnavi div#lwPageTreeNav.lwBoxLeftContent center form#gotoform input#gotoid {
    width: 45px;
    margin-bottom: 0;
}
html body div#lwLeftnavi div#lwPageTreeNav.lwBoxLeftContent center {
    height: 35px;
}    